@model PersonelRehberi.Models.PERSON

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PERSON</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Identity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Identity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PersonSurname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PersonSurname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthdate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthdate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HireDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HireDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEPARTMENT.DepartmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEPARTMENT.DepartmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TITLE.TitleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TITLE.TitleName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
